@import '../../styles/mixins.scss';


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: stretch;
  padding: 0rem 10px;

  @include media('tablet') { 
    padding: 0rem 40px;
  }
    
  @include media('laptop') {
    padding: 0rem 70px;
  }
      
      .logoContainer {
        display: flex;
        align-items: center;
        
        .blueIcon {
          font-size: 20px;
          display: inline-block;
          fill: #006adb;
        }
        
        .svgContainer {
          width: 2.5em;
        }
        
    .headerLogo {
      user-select: none; 
      -webkit-user-select: none; 
      -ms-user-select: none;
      @include font(Montserrat-Bold, 1.5rem, 700, 1.7);
      text-decoration: none;
      color: inherit;
      border-radius: 5px;
    }
  }
  
  .usersTools {
    margin-right: 2rem;
    justify-content: space-between;
    display: flex;
  }
  
}
