$breakpoints: (
  'mobile': 767px,
  'tablet': 1023px, 
  'laptop': 4090px, 
);

@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (max-width: #{$breakpoint-value - 1}px) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found in $breakpoints map.";
  }
}

@mixin font($font-family, $font-size, $font-weight, $line-height) {
  font-family: $font-family, sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}
