@import '../../node_modules/normalize.css/normalize.css';
@import './mixins.scss';
@import './fonts.scss';

:root {
  font-family: "OpenSans-Regular", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  transition: background-color 0.3s ease, color 0.3s ease;

  header {
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

.light-theme {
  color: #333;
  background-color: #f0f0f0;
}

.dark-theme {
  color: #f0f0f0;
  background-color: #333;
}

