@import '../../node_modules/normalize.css/normalize.css'; 
@import './mixins.scss';
@import './fonts.scss';

:root {
  font-family: "OpenSans-Regular", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  transition: background-color 0.3s ease, color 0.3s ease;
  @include font(OpenSans-Medium, 1rem, 500, 1.6);

  h1 {
    @include font(Montserrat-Bold, 1.3rem, 700, 1.7);
  }

  h2 {
    @include font(Montserrat-Bold, 1.1rem, 700, 1.5);
  }

  @include media('tablet') { 
    @include font(OpenSans-Medium, 1.1rem, 500, 1.6);

    h1 {
      @include font(Montserrat-Bold, 1.4rem, 700, 1.7);
    }

    h2 {
      @include font(Montserrat-Bold, 1.3rem, 700, 1.5)
    }
  }

  @include media('laptop') {
    @include font(OpenSans-Medium, 1.1rem, 500, 1.6);

    h1 {
      @include font(Montserrat-Bold, 1.6rem, 700, 1.7);
    }

    h2 {
      @include font(Montserrat-Bold, 1.5rem, 700, 1.5)
    }
  }
}

.light-theme {
  color: #333;
  background-color: #f0f0f0;
}

.dark-theme {
  color: #f0f0f0;
  background-color: #333;
}

