@import '../../../styles/mixins';

.containerNavigation {
  padding: 0px 10px;

  @include media('tablet') {
    padding: 1vh 7vw 1vh 7vw;
  }

  @include media('laptop') {
    padding: 0px 7vw;
  }

  .containerShortNowWeather {
    margin-top: 8px;

    @include media('tablet') {
      display: none;
    }

    .timeDate {
      @include font(Montserrat-Bold, 0.85rem, 700, 1.5)
    }

    .cityWeatherTemperature {
      @include font(Montserrat-Bold, 1rem, 700, 1.5)
    }

    .feelsLike {
      font-size: 0.85rem;
      line-height: 1.5;
    }

  }

  .containerH2Nav {

    .h2Title { 
      margin: 0.9rem 0;
    }

    .containerLinks {
      display: flex;
      margin: 0.9rem 0  ;


      .link {
        margin-right: 25px;
        text-decoration: none;
        border: 1px solid #a1a0a0;
        border-radius: 6px;
        padding: 2px 5px;
        box-sizing: border-box;
        background-color: rgb(226, 223, 223);
        color: #333;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
      }

      .linkDark {
        color: #f0f0f0;
        background-color: rgb(73, 73, 73);
      }

      .linkActive {
        border-top: 0px;
        border-bottom: 3px solid #a1a0a0;;
        border-left: 0px;
        border-right: 0px;
      }

      .link:last-child{
        margin-right: 0px;
      }
    }
  }

}