.blueIcon {
  font-size: 2em;
  display: inline-block;
  width: 2em;
  height: 2em;
  fill: #006adb;
}

.blueIcon svg {
  width: 100%;
  height: 100%;
  display: block;
}

.svgContainer {

}

.yellowIcon {
  fill: #ffa600;
}