@import '../../styles/mixins.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
  margin-left: 2rem;
  
  @media (mobile) { 
    
  }

  .headerLogo {
    user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none;
    @include font(Montserrat-Bold, 1.5rem, 700, 1.7);
    text-decoration: none;
    color: inherit;
    border-radius: 5px;
  }

  .usersTools {
    margin-right: 2rem;
    justify-content: space-between;
    display: flex;
  }
}