@import '../../../styles/mixins';

.containerHourly {
  margin: 0px 10px;
  
  @include media('tablet') {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    margin: 15px 7vw 0 7vw;
  }

  .h2Hourly {
    @include media('tablet') {
      padding: 25px 0px 0px 25px;
    }
  }

  .mySwiperClass {
    display: flex;
    justify-content: space-between;
  }

  .listHourlyForecasts {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 10px;
    justify-content: space-between;


    .swiper-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .hourlyForecast {
      margin-right: 15px;
      flex: 0 0 auto;
      width: 70px;
      padding: 10px;
      box-sizing: border-box;

      .hourlyDate {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .hourlyWeatherIcon {
        display: flex;
        justify-content: center;
      }

      .hourlyTemperature {
        display:  flex;
        justify-content: center;
        align-items: center;
      }
    }

    .hourlyForecast:first-child {
      @include media('tablet') {
        margin-left: 50px;
      }
    }

    .hourlyForecast:last-child {
      @include media('tablet') {
        margin-right: 50px !important;
      }
    }
  }
}