@import '../../../styles/mixins';

.container5Day {
  margin: 0px 10px;

  @include media('tablet') {
    margin: 15px 7vw 0 7vw;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }

  .h2Title {
    padding: 25px 0px 0px 25px;
  }

  .mySwiperClass {
    display: flex;
    justify-content: space-between;
  }

  .list5DayForecasts {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    .swiperSlide {
      width: 150px;
      flex-shrink: 0;
      height: 148px;
      
      @include media('tablet') {
        width: 180px;
        margin-right: 20px !important;
      }

      .forecastContent {
        display: inline-block;
        width: 100%;
        border-radius: 6%;


        .date5Day {
          display: flex;
          justify-content: center;
        }
  
        .weatherIcon5Day {
          display: flex;
          justify-content: center;
        }
  
        .temperature5Day {
          display: flex;
          justify-content: center;
          .maxTemp {
            margin-right: 15px;
          }

      }

      }
    }

    .swiperSlide:last-child {
      margin-right: 0px !important;
    }
  }
}